.weather {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;

    &__title {
        margin: 0 0 30px 0;
        color: $titleColor;
        text-align: center;
        font-size: 50px;
        letter-spacing: 2px;
        user-select: none;
    }

    &__form {
       
        width: min(100% - 30px, 500px);
        
             
        @include forTablet {
            width: min(100% - 30px, 500px);
          }
    
          @include forSmartphone {
            width: min(100% - 30px, 280px);
        }

    }

    &__city {
        width: 100%;
        padding: 10px 5px;
        border: none;
        border-radius: 20px 0;
        outline: none;
        text-align: center;
        margin: 0 0 40px 0;
        background-color: $formBgColor;

        &:hover{
            background-color: $formBgHoverColor;  
        }
   
    }
    &__info {
       padding: 30px;
       background-color: $infoBgColor;
       color: $infoFontFamily;
       border-radius: 20px 0;
       display: flex;
       align-items: center;
       gap: 15px;
       justify-content: space-around;
       
      
       @include forTablet {
        flex-direction: row; 
      }

      @include forSmartphone {
        flex-direction: column; 
        text-align: center;  
    }}

   
    &__temp {
        font-size: 60px;
        display: flex;
        

        span {
            font-size: 30px;
            padding: 6px 0 0 0 ;

        }
     }
     &__location {
         
        p {
            margin: 0 0 5px 0;
            &:last-of-type{
                margin: 0;
            }
        }
       
     }
     &__details {
         
        p {
            margin: 0 0 5px 0;
            &:last-of-type{
                margin: 0;
            }
        }
       
     }

      &__error{
        background-color: #af3d3d;
        padding: 15px;
        text-align: center;
        color: #fff;
        font-weight: 700;
        letter-spacing:2px ;
      }

      &__loader{
        display: none;
      }

     }